.accordion-title {
  cursor: pointer;
  background-color: #000014;
  padding: 1%;
  font-size: 1.3em;
}

.accordion-title:hover {
  background-color: #010135;
}

.accordion-content {
  box-shadow: #000014 5px 5px 5px;
  overflow: hidden;
  height: 0;
  opacity: 0;
  animation: closeAccordion 0.5s ease forwards;
}

.accordion-content.open {
  animation: openAccordion 0.5s ease forwards;
}

@keyframes openAccordion {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: 100px; /* Ajuste de acordo com o tamanho do conteúdo */
    opacity: 1;
  }
}

@keyframes closeAccordion {
  from {
    height: 100px; /* Ajuste de acordo com o tamanho do conteúdo */
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
