header {
  color: white;
  background-color: #ff6a06;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
header .container-header-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header .logo {
  margin-bottom: 15px;
}
header .services {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-top: -6em;
}
header .services button {
  height: 7em;
  transition: background-color 0.3s;
}
header .services button:hover {
  background-color: #c25105;
}

nav {
  display: flex;
  margin-top: 25px;
  justify-content: space-around;
}

span {
  padding: 0 1% 0;
  margin-bottom: -22px;
  transition-duration: 0.3s;
}

span:hover {
  border-right: #ffffff solid 2px;
  border-left: #ffffff solid 2px;
  transform: scale(1.2);
}
input {
  background-color: #fffefe;
  border: none;
  height: 1.8em;
  width: 30em;
  border-radius: 7px;
}

button {
  border-radius: 8px;
  padding: 5px;
  background: none;
  border: none;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 10em;
  animation: logoGira 1.5s ease-in-out both;
}

@keyframes logoGira {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(720deg);
  }
}
main {
}
.container1 {
  display: flex;
  justify-content: center;
  gap: 5em;
}
.container1 h2 {
  font-size: 3em;
  width: 10em;
  margin-top: 3em;
}
footer {
  color: #ffffff;
  background-color: #ff8800;
  padding: 2%;
}
